[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/usr/local/bin/jupyter notebook --allow-root --config=/storage/docker/jupyter/jupyter_notebook_config.py
WorkingDirectory=/storage/docker/jupyter/notebooks

[Install]
WantedBy=multi-user.target

