[Unit]
Description=dockercompose
Requires=rc-local.service
After=rc-local.service
After=dockerhack.service

[Service]
WorkingDirectory=/storage/docker
ExecStart=/usr/local/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
