[Unit]
Description=Docker
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/dockerd

[Install]
WantedBy=multi-user.target