[Unit]
Description=dockerhack
Before=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/dpkg -i /storage/docker/docker-ce_17.09.0~ce-0~raspbian_armhf.deb
ExecStartPost=/bin/echo "All Done"
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
