[Unit]
Description=dockerhack
Before=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/env bash /storage/docker/docker/dockerhack.sh
ExecStartPost=/bin/echo "All Done"
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
