[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
ExecStart=/usr/local/bin/ngrok start --all --config /storage/docker/ngrok/ngrok.yml start %i
ExecStop=/usr/bin/killall ngrok

[Install]
WantedBy=multi-user.target


